:root {
    --pazzleSize: 130px;
    --pazzleMove: 140px;
    --pazzleMoveMinus: -140px;
    --pazzleFont: 60px;
}

.game-board {
    display: grid;
    position: relative;
    margin: auto;
    max-width: 420px;
    grid-gap: 5px;
    background: #8ed790;
    padding: 2px;
    border: 1px solid #444;
    transition: 1s;
}

.puzzle {
    width: var(--pazzleSize);
    height: var(--pazzleSize);
    border-radius: 5%;
    align-self: center;
    justify-self: center;
    font-size: var(--pazzleFont);
    color: white;
    text-align: center;
    line-height: var(--pazzleSize);
    cursor: pointer;
    transition: .3s;
    position: relative;
    left: 0;
    top: 0;
    user-select: none;
}

.puzzle-drag {
    transition: 0s;
}

.right {
    left: var(--pazzleMove);
}

.left {
    left: var(--pazzleMoveMinus);
}

.top {
    top: var(--pazzleMoveMinus);
}

.bottom {
    top: var(--pazzleMove);
}

.puzzle:hover {
    background-color: #333;
}

.line {
    width: 80%;
}

.settings {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.select {
    border-bottom: 2px solid currentcolor; 
}

.stepsAndTime {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.new-game {
    color:#ecf0f1; 
    text-decoration: none;
    border-radius:5px;
    border:solid 1px #f8ebd7;
    background:#0c5527;
    text-align:center;
    padding:16px 18px 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.new-game:hover {
    background:#3ab366;
    cursor: pointer;
}