:root {
    --pazzleSize: 0;
    --pazzleMove: 0;
    --pazzleMoveMinus: -0;
    --pazzleFont: 0;
}

.game-board {
    display: grid;
    position: relative;
    margin: auto;
    width: 420px;
    background: #8ed790;
    padding: 2px;
    border: 1px solid #444;
    transition: 1s;
}

.puzzle {
    width: var(--pazzleSize);
    height: var(--pazzleSize);
    border-radius: 5%;
    align-self: center;
    justify-self: center;
    font-size: var(--pazzleFont);
    color: white;
    text-align: center;
    line-height: var(--pazzleSize);
    cursor: pointer;
    transition: .3s;
    position: relative;
    left: 0px;
    top: 0px;
    user-select: none;
}

.puzzle-drag {
    transition: 0s;
}

.right {
    left: var(--pazzleMove);
}

.left {
    left: var(--pazzleMoveMinus);
}

.top {
    top: var(--pazzleMoveMinus);
}

.bottom {
    top: var(--pazzleMove);
}

.line {
    width: 80%;
    max-width: 800px;
}

.settings {
    width: 80%;
    max-width: 700px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.select {
    border-bottom: 2px solid currentcolor; 
}

.stepsAndTime {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.button {
    color:#ecf0f1; 
    text-decoration: none;
    border-radius:5px;
    border:solid 1px #f8ebd7;
    background:#0c5527;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 107px;
    height: 48px;
    padding: 16px 18px 14px; 
    text-align: center;
}

.save-btns {
    width: 107px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.save-button {
    color:#ecf0f1; 
    text-decoration: none;
    border-radius:5px;
    border:solid 1px #f8ebd7;
    background:#0c5527;
    text-align: center; 
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 107px;
    height: 28px;
    cursor: pointer;
}

.button:hover {
    background:#3ab366;
    cursor: pointer;
}

.volume {
    cursor: pointer;
}

.sel-vol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1001;
    cursor: pointer;
}

.result-table {
    height: 600px;
    max-width: 600px;
    width: 60%;
    background: white;
    border-radius: 3%;
    overflow-y: scroll;
    cursor: default;
    position: relative;
}

.result-table-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-table__table-name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
}

.result-table__table {
    width: 80%;
    text-align: center;
}

th, td {
    padding: 5px 20px;
}

td img {
    height: 100px;
    width: 100px;
}


@media (max-width: 600px) {
    .game-board {
        width: 300px;
    }

    .button {
        height: 10px;
        padding: 0;
        width: 75px;
        height: 40px;
        font-size: 13px;
    }

    .result-table {
        height: 400px;
        width: 90%;
    }
}