:root {
    --pazzleSize: 130px;
    --pazzleMove: 140px;
    --pazzleMoveMinus: -140px;
}

.game-board {
    display: grid;
    position: relative;
    margin: auto;
    max-width: 420px;
    grid-gap: 5px;
    background: #8ed790;
    padding: 2px;
    border: 1px solid #444;
    transition: 1s;
}

.puzzle {
    width: var(--pazzleSize);
    height: var(--pazzleSize);
    background-color: #444;
    border-radius: 10%;
    align-self: center;
    justify-self: center;
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: var(--pazzleSize);
    cursor: pointer;
    transition: .3s;
    position: relative;
    left: 0;
    top: 0;
    user-select: none;
}

.puzzle-drag {
    transition: 0s;
}

.right {
    left: var(--pazzleMove);
}

.left {
    left: var(--pazzleMoveMinus);
}

.top {
    top: var(--pazzleMoveMinus);
}

.bottom {
    top: var(--pazzleMove);
}

.puzzle:hover {
    background-color: #333;
}

.line {
    width: 80%;
}

.settings {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    border-bottom: 2px solid currentcolor; 
}

.stepsAndTime {
    display: flex;
    flex-direction: column;
    text-align: right;
}